---
	import Layout from '@/layouts/Layout.astro';
	import Form from '@/components/Form.astro';
	import About from '@/components/About.astro';
	import Navbar from '@/components/Navbar.astro';
	import Projects from '@/components/Projects.astro';
	import Separator from '@/components/Separator.astro';
	import Technologies from '@/components/Technologies.astro';
	import ProfilePicture from '@/components/ProfilePicture.astro';
---

<Layout title="Portfolio - Diseñado por MilaDev " 
		description="Moderno Portfolio Web Diseñado por MilaDev para practicas de desarrollo de una landing page con astro y tailwind css">
	<Navbar />
	<main  id="home" class="mt-16 scroll-mt-36">
		<ProfilePicture />
      	<Separator />
      	<About />
      	<Technologies />
      	<Projects />
      	<Form />

		<!-- (img[src="img/gallery_$.jpg" alt="Galery imgagen-$"].gallery-img-$)*5 -->
	</main>
</Layout>
